#upWorkFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.5);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all .5s ease-in-out; /** Firefox **/
    -o-transition: all .5s ease-in-out; /** Opera **/
}
#upWorkFooter:hover {
    background: rgba(0,0,0,.8);
    height: 100px;
}