@media screen and (min-width:471px) {
    body { 
        overflow-y: hidden;
        overflow-x: auto;
        min-width: 500px;
    }
    #wrapper {
        float: none;
        background: -webkit-linear-gradient(#f0f0f0, white);
        background: -o-linear-gradient(#f0f0f0, white);
        background: linear-gradient(#f0f0f0, white);
    }
    section {
        overflow-y:auto;
        float: left;
        box-shadow: 5px 0px 7px 0px #8a8a8a;
        margin-right: 10px;
    }
    section:hover {
        box-shadow: 8px 0px 7px 0px #8a8a8a;
    }
    div, article {
        float: left;
    }
    .item {
        width: 40px;
    }
    .item-first {
        width: 40px;
    }
    .accordeon {
        width: 500px;
    background: linear-gradient(to bottom, #f0f0f0, white);
        padding: 5%!important ;
    }
    .bg-m{background: url(../img/m-9-sm.png) no-repeat 20% 50%;}
    .bg-i{background: url(../img/i-9-sm.png) no-repeat 50% 49%;}
    .bg-n{background: url(../img/n-9-sm.png) no-repeat center;}
    .bg-a{background: url(../img/a-9-sm.png) no-repeat 50% 50%;}
    .bg-l{background: url(../img/l-9-sm.png) no-repeat 40% 49%;}
}
@media screen and (max-width:470px) {
    body{ 
    }
    #div-background {
        position: fixed;
        bottom: 0;
        z-index: -10;
        width: 100%;
        height: 100%;
         background: -webkit-linear-gradient(left, white, #f0f0f0, white);
        background: -o-linear-gradient(left, white, #f0f0f0, white);
        background: linear-gradient(to right, white, #f0f0f0, white); 
    }
    #wrapper {
        background: -webkit-linear-gradient(left, white, #f0f0f0, white);
        background: -o-linear-gradient(left, white, #f0f0f0, white);
        background: linear-gradient(to right, white, #f0f0f0, white);
    }
    section {
        box-shadow: 0px 1px 4px 0px #8a8a8a;
        border-radius:   0 0px  35px 35px ;
        margin-bottom: 5px;
    }
    section:active {
        box-shadow: 0px 1px 10px 0px #8a8a8a;
    }
    .item {
        width: 100%;
        height: 25px;
    }
    .accordeon {
        width: 100%;
        background: -webkit-linear-gradient(left, white, #f0f0f0, white);
        background: -o-linear-gradient(left, white, #f0f0f0, white);
        background: linear-gradient(to right, white, #f0f0f0, white);
    }
    .accordeon-first {
        height: 40px;        
        box-shadow: none;
        
    }
    .bg-m{background: url(../img/m-9-xs.png) no-repeat 50%;}
    .bg-i{background: url(../img/i-9-xs.png) no-repeat 50%;}
    .bg-n{background: url(../img/n-9-xs.png) no-repeat 50%;}
    .bg-a{background: url(../img/a-9-xs.png) no-repeat 50%;}
    .bg-l{background: url(../img/l-9-xs.png) no-repeat 50%;}
    p { font-size: 10px;}
    h1 { font: red 10px;}
}
